* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
body {
    background-color: #E5E5E5;
    display:flex;
    flex-direction: column;
    align-items: center;
 }
 .cronometro{
  width: 90px;
  height: 50px;
  position: fixed;
  top: 120px;
  right: 20px;
  background-color: darkgray;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.cronometro span{
 
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  color: black;
}
section{
 
  position: fixed;
  top: 200px;
  z-index: 1000;
}

section h1{
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -0.004em;
  color:green;
  margin-bottom: 10px;
}
 header{
  margin-top: 40px;
  margin-bottom: 47px;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 66px;
  letter-spacing: -0.004em;
  text-align: left;
  color:#75B79E;
  
 }

 main{
   display: flex;
   flex-direction: row;
   gap: 34px;
   flex-wrap: wrap;
   margin-left: 122px;
   margin-right: 116px;
   justify-content: center;
   align-items: center;
  
 }
.card{
  background-color: #A7E9AF;
  height: 146px;
  width: 117px;
  position: relative;
  transition: all .5s;
  transform-style: preserve-3d;
}

.cardVirarBaixo{
  transform: rotateY(-180deg);
}

.cardVirarCima{
  transform: rotateY(0deg);
}

.face{
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #99CEA8;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  backface-visibility: hidden;
  transition: all .5s;
  transform-style: preserve-3d;
}
.back-face {
  transform: rotateY(180deg);
}
.back-face.face.virar {
  transform: rotateY(0deg);
}
.fimJogo {
  width: 100%;
  border-radius: 9px;
  border: 1px solid gray;
  background-color: lightgray;

  padding: 21px 26px 0 26px;

  display: flex;
  flex-direction: column;


}
.fimJogo .informacao{
  display: flex;
  flex-direction: column;
  gap: 10px;

  margin-bottom: 20px;

  font-family: "Roboto";
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.018em;

  color: black;
}
.fimJogo button {
  width: 100%;
  height: 52px;
  border-radius: 100px;

  margin: 0 auto;

  font-family: Roboto;
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.018em;
  background-color: green;
  color: white;
  border: none;
}

.fimJogo button:nth-child(3) {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #cf2b2b;
  color: #fff;
  border: none;
  font-size: 20px;
  font-weight: 700;
}

.fimJogo input {
  border: none;
  height: 40px;

  font-size: 22px;
}

.escondida{
  display:none;
}
.front-face .piriquito{
  height: 100px;
  width: 100px;
  background-image: url("../assets/front\ 1.png");
}

.back-face .imagem{
  height: 100px;
  width: 100px;
}
#switch{
	display: none;
}

@media(max-width: 614px){
  header{
    margin-top: 40px;
    margin-bottom: 47px;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 66px;
    letter-spacing: -0.004em;
    text-align: left;
    color:#75B79E;
   }
   main{
    display: flex;
    flex-direction: column;
    gap: 34px;
    justify-content: center;
    align-items: center;
   
  }
}